/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/storage/temp
/vendor
tests/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
php.ini
.user.ini
/cgi-bin/*
.htaccess
*.DS_Store
storage/.DS_Store
.phpstorm.meta.php
_ide_helper.php
composer.lock
.vscode/*
*supervisor.log
*supervisor.pid
.data/*
/dump
*.env